a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.deech-me-logo {
    border: 1px rgb(36, 36, 36) solid;
    border-radius: 55%;
    padding: 8px 5px 5px 0;
    background-color: rgba(250, 69, 69, 0.75);
}

.deech-me-logo:hover {
    background-color: rgb(36, 36, 36);
}

.deech-me-logo:hover .deech {
    fill: rgba(250, 69, 69, 0.75);
}