a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.deech-me-logo {
    color: #e60d4e !important;
    font-size: 1.2rem;
}

.deech-me-logo:hover {
    opacity: 0.7;
}