.search-container-wrapper {
    width: 100%;
}

.search-container {
    display: flex;
}

.search-dropdown {
    flex: 0;
}

.search-dropdown-button:hover {
    color: #fafafa !important;
    background-color: #1d2124;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.search-input-container {
    width: 100%;
    background-color: #424141c2;
    padding-top: .1rem;
    padding-bottom: .6em;
    padding-left: .5rem;
}

.search-input {
    align-content: center;
    flex-grow: 1;
}

.search-button {
    width: fit-content;
}

.dropdown-item:hover {
    background-color: var(--secondary) !important;
    color: var(--gray-dark) !important;
}